<a href="https://colab.research.google.com/github/kiranmuloor/DataScience/blob/master/Python/Chapter_3_Python_Learning_Group.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# <h1><b><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>WEEKLY ASSESSMENTS for Python Learning Group</u></center></b></h1><br>

## <h2><center><b>CHAPTER 3</b></center></h2>

<b>Note: </b> The programs in this section print out a lot of stuff. By default, when multiple print statements
are used, each one will print on a separate line. However, by adding an optional argument like end="" or
end="", we can force things to stay on the same line. For instance, instead of print('Hello') we can use
print('Hello',end=""). This will make the output of some of the programs easier to read and test. Note
also that an empty print() statement will cancel out the effect of the end optional argument. Another optional argument to check out is sep="" in print function.

<hr>

#  <h1><u><center><b> GROUP-1 (G-1) : </b></center></u></h1>


<hr>

<pre>1.)Print all multiples of 13 that are smaller than 100. Use the range function in the
following manner: range (start, end, step) where "start" is the starting value of the
counter, "end" is the end value and "step" is the amount by which the counter is
increased each time.

In [ ]:
#Solved by : Rajanna AI01

#Code/Answers below :
for i in range(0,100,13):
  print(i)

0
13
26
39
52
65
78
91

In [ ]:
#Alternative suggested by: Taiba Naz
for i in range(13,131,13):
  print(i)

13
26
39
52
65
78
91
104
117
130

<pre>2.) Use loops to print a box like the one below. Allow the user to specify how wide and how high the box should be. Try using both for loops and while loops.

EX : height = 4, width = 20
********************
********************
********************
********************
</pre>

In [ ]:
#Solved by : vinaya

#Code/Answers below :
h = int(input("Enter the hight: "))
w = int(input("Enter the width:"))

for l in range(h):
       print('*' * w)

Enter the hight: 5
Enter the width:10
**********
**********
**********
**********
**********

<pre>3.) Write an user-defined to print the content of the following list.  l = [apple,banana,cherry].
</pre>

In [ ]:
#Solved by : Pawan Rama Mali (AI01)

#Code/Answers below :

l = ["apple","banana","cherry"]
print(l)

['apple', 'banana', 'cherry']

In [ ]:
#Alternative suggested by: Taiba Naz
def fruits():
  list=['apple','banana','cherry']
  #Code/Answers below :
  for i in list:
    print(i)
fruits()

apple
banana
cherry

<pre>
4.) Find the prime numbers from 2 to 100 using nested for loops
</pre>

In [ ]:
#Solved by :

#Code/Answers below :

In [ ]:
#Alternative suggested by: Taiba Naz

for i in range(2,100):
  for j in range(2,i): 
    if i%j==0:
      break
  else:  
     print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

<pre>5.) Write a Program to print the pattern for number, n, where n is the number of lines. 
Eg : For n = 5, we get :
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#Solved by :

#Code/Answers below :

In [ ]:
#Alternative suggested by: Taiba Naz
def stars():
  n=int(input("enter any number: "))
  for i in range(n+1):
    
      print((n-i)*' '+i*' *',end ="")
    
      print()
stars()

enter any number: 5

     *
    * *
   * * *
  * * * *
 * * * * *

<pre>6.) Write a program to input a number and print its first n multiples, where n is inputted by the user.
</pre>

In [ ]:
#Solved by :Maddipati Rakesh Kumar

#Code/Answers below :

def nmultiple():
    num=int(input("enter number:"))
    mul=int(input("enter multiple:"))
    for i in range(0,mul+1):
        print(num*i)

nmultiple()

enter number:10
enter multiple:5
0
10
20
30
40
50

<hr>

#  <h1><u><center><b> GROUP-2 (G-2) : </b></center></u></h1>


<hr>

<pre>1.) Write a program to calculate and display the factorial of an inputted number without using math or cmath modules.
</pre>

In [ ]:
#Solved by : Prem Kumar KM AI01

#Code/Answers below :
def fact_recursion(num): #Fuction to calculate the factorial
    if num < 0:
        return 0
    if num == 0:
        return 1

    return num * fact_recursion(num - 1) #Recursive call 

num=int(input("Enter the Number to Find Factorial: "))
print("The Factorial of number:",fact_recursion(num))

Enter the Number to Find Factorial: 3
The Factorial of number: 6

In [ ]:
#Alternative suggested by: Taiba Naz
def factorial():
  n=int(input("enter a number: "))
  for i in range(1,n+1):
    if n%i==0:
      print(i,end=" ")
      i=i+1
factorial()

enter a number: 6
1 2 3 6

<pre>2.) Write a program to display sum of even numbers upto number n entered by the user.
</pre>

In [ ]:
#Solved by : Ashsih K. Singh

#Code/Answers below :

n = int(input(" Please Enter the Maximum Value : "))
total = 0

for number in range(1, n+1):
    if(number % 2 == 0):
        print("{0}".format(number))
        total = total + number

print("The Sum of Even Numbers upto {0} = {1}".format(number, total))

 Please Enter the Maximum Value : 22
2
4
6
8
10
12
14
16
18
20
22
The Sum of Even Numbers upto 22 = 132

<pre>3.) Write a program to accept a number from the user and print the table of that number.
</pre>

In [ ]:
#Solved by :Vilma BA03

#Code/Answers below :
x = int(input("Enter a number:"))
for x in range (x, x+1):
    j=1
    while j<11:
        print(x, "*",j,"=", x*j)
        j=j+1
    print

Enter a number:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

<pre>4.) Write a program to accept a single character from the user and display whether it is a vowel or consonant.
</pre>

In [ ]:
#Solved by : Rajanna AI01

#Code/Answers below :
x = input("Enter a single character ")

lists = ['a','e','i','o','u','A','E','I','O','U']

if x in lists:
    print("Entered character is Vowel")
else:
    print("Entered character is consonant")

Enter a single character i
Entered character is Vowel

In [ ]:
#Alternative suggested by : Saket (Intern)

#without using list and .lower() function to convert 
#inputted single character to lowercase.

x = input("Enter a single character : ")

if (len(x))==1:
  if x.lower() in "aeiou":   #x.lower() converts character to lowercase
    print("Entered character is Vowel!")
  else:
    print("Entered character is a consonant")

else:
  print("Please try again! Entered string is not a single character!")

Enter a single character : I
Entered character is Vowel!

<pre>5.) Write a program to accept a number and display whether the number is a palindrome or not.
</pre>

In [ ]:
#Solved by : Bharadwaz

In [ ]:
num=int(input("Enter a number:"))
temp=num
rev=0
while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(temp==rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")

Enter a number:12321
The number is palindrome!

<pre>6.) Write a Python program to count the number of even and odd numbers from a series of numbers inputted by the user. (Hint : You can use *args concept to accept multiple numbers in an user defined function.)

EG:
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
Expected Output :
Number of even numbers : 5
Number of odd numbers : 4
</pre>

In [ ]:
#Solved by : Dinesh Kumar S(AI01)
i
#Code/Answers below :

In [ ]:
def oddREven(pX):
    iEvenCount=0
    iOddCount = 0
    for i in pX:
        if (i%2==0):            
            iEvenCount+=1
        else:            
            iOddCount+=1
    print ('Even No count :',iEvenCount,'Odd No Count :', iOddCount)

x = input("Enter the numbers Use Comma Separator  ")
s = list(map(int,x.split(',')))
oddREven(s)

Enter the numbers Use Comma Separator  1,2,3,4,5,67,67,68
Even No count : 3 Odd No Count : 5

In [ ]:
#Alternate Solved by : Rajanna AI01

#Code/Answers below :

def OddEven(string):
    oddctr = 0
    evnctr = 0
       
    for i in string:
        if int(i)%2 == 0:
            evnctr += 1
        else:
            oddctr += 1
                       
    print("Number of Odd's = ", oddctr , "Number of Even's = ", evnctr)
    
x = input("Enter a list elements separated by comma ")
x_list = x.split(",")
OddEven(x_list)

Enter a list elements separated by comma 22,11,44,55,66,77,88,99,222
Number of Odd's =  4 Number of Even's =  5

In [ ]:
#Alternate solution by Dinesh Kumar S AI01
#Code/Answers below:
#Method using List comprehension
def nevenodd(n):
    even = 0
    odd = 0
    even = sum([num+even for num in n if 0 in [num%2 for i in n]])
    odd= sum([num+odd for num in n if 0 not in [num%2 for i in n]])
    print ('Sum of Even nos : ',even, 'Sum of Odd nos : ', odd)
nevenodd([1,2,3,4,5,6])

Sum of Even nos :  12 Sum of Odd nos :  9

<hr>

#  <h1><u><center><b> GROUP-3 (G-3) : </b></center></u></h1>


<hr>

<pre>1.) WAP to find the sum of the geometric series given: S = a+ar+ar<sup>2</sup>+ar<sup>3</sup>+ar<sup>4</sup>+….ar<sup>n</sup>.
Here : a,r and n are inputted by the user.</pre>

In [ ]:
#Solved by :

#Code/Answers below :
numbers = [1, 3, 5, 7, 10]


print(reduce(lambda x, y: x*y, numbers)**(1.0/len(numbers)))

NameError: ignored

In [ ]:
#Alternative suggested by: Taiba Naz

def geo_series():
  a=int(input("enter a value: "))
  r=int(input("enter a value: "))
  n=int(input("enter a value: "))
  sum_series=0
  for i in range(n+1):
   sum_series=sum_series+(a*(r**i))
   i=i+1
  print(sum_series) 
geo_series()

enter a value: 2
enter a value: 3
enter a value: 4
242

<pre>2.) Convert the following for loop into while loop:<br>
                       >>> for k in range (10,20,5):
                               print(k)

</pre>

In [ ]:
#Solved by :Taiba naz

#Code/Answers below :
k=10 #initial value
while k < 20: #end value
  print(k)
  k=k+5 #steps

10
15

<pre>3.) Write a  program to read a number n and compute n+nn+nnn+...+n<sup>n</sup>, where n is inputted by the user.
Eg:
n = 5
output : 
5 + 5x5 + 5x5x5 + 5x5x5x5 + 5x5x5x5x5

In [ ]:
#Solved by :

#Code/Answers below :

<pre>4.) Write a program to print the squares of numbers from 1 till n, where n is inputted by user.

Eg : n = 4
1, 4, 9, 16
</pre>

In [ ]:
#Solved by :

#Code/Answers below :
number = int(input("Enter the number")) # for user to input the number
for i in range(1, number+1):  # loop to read the numbers from 1 to into number
    print(i**2, end=", " if i < number else "") # to print the sqrt of all the number till input number

Enter the number4
1, 4, 9, 16

<pre>5.) Write a program that uses for loops to print out 40 A’s followed by 50 B’s, all on the same line.</pre>

In [ ]:
#Solved by :

#Code/Answers below :
for i in range(1):
    print('A' * 40, 'B' * 50)

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB

<pre>6.) Using a while loop, write a program that prints out the integers 2, 5, 8, 11, 14, 17, and 20 in that order,
all on the same line.
</pre>

In [ ]:
#Solved by : Madhukeshwar R K

#Code/Answers below :
count = 2 # initializing count value to 2
while (count < 21): # while loop to count values less then 21
    print(count, end=", " if  count < 20 else "") # to print on same line and eliminate the last comma
    count = count + 3     # incrementing the value by 3

2, 5, 8, 11, 14, 17, 20

<hr>

#  <h1><u><center><b> GROUP-4 (G-4) : </b></center></u></h1>


<hr>

<pre>1.) Write a program that repeatedly asks a user to enter positive integers. The user stops the program by
entering a negative.
</pre>

In [ ]:
#Solved by : Anand Limbare

#Code/Answers below : 
while True:
    x=input('Enter a positive integer:')
    z="The program will now stop since you entered a negative"
    y=int(x)
    if y < 0:
        print(z)
        break
    else:
        print(y)
        continue

Enter a positive integer:2
2
Enter a positive integer:1
1
Enter a positive integer:0
0
Enter a positive integer:-1
The program will now stop since you entered a negative

<pre>2.) Write a program that accepts a value 'n' from the user and uses a for loop to print the output below: (here, n = 5).<br> Do this using both for loop and while loop.

1. A
2. A
3. A
4. A
5. A
</pre>

In [ ]:
#Solved by :Jitendra R
 
#Code/Answers below :
n = int(input('Please enter the number of times to loop: '))
txt = input('Please enter text to repeat: ')
print('USING FOR LOOP')
for x in range(n):
    print(txt,end="")
    x+=1
print()   
print('USING WHILE LOOP')
x = 0
while x < n:
  print(txt,end="")
  x+=1

Please enter the number of times to loop: 5
Please enter text to repeat: Python
USING FOR LOOP
PythonPythonPythonPythonPython
USING WHILE LOOP
PythonPythonPythonPythonPython

<pre>3.) Write a program that prints numbers from 1 to n, where n is inputted by the user, but for every multiple of 2 or 3, it skips that number in the range, 1 to n.

Eg : n = 11 #(Here, 11 is inclusive in range 1 to 11)
1 5 7 11
</pre>

In [ ]:
#Solved by :Jitendra R

#Code/Answers below :
n = int(input('Please enter a number: '))
for x in range(n+1):
    if not(x%2==0) and not(x%3==0):
        print(x,end=" ")
x+=1

Please enter a number: 11
1 5 7 11

<pre>4.) Write a program that uses a loop and an input statement to ask the user to enter 10 numbers. After
each number is entered, print out the square of that number.
</pre>

In [ ]:
#Solved by :

#Code/Answers below :

<pre>5.) Write a Python program to print alphabet pattern 'E' using loops.

Expected Output:

 *****                                                                  
 *                                                                      
 *                                                                      
 *****                                                                   
 *                                                                      
 *                                                                      
 *****
 </pre>

In [ ]:
#Solved by :

#Code/Answers below :

<pre>6.) Write an user-defined function that accepts a string as an argument/parameter and prints it letter by letter<br>after omitting all the vowels in it.

Eg : HELLO
H
L
L
</pre>

In [ ]:
#Solved by : Suresha K

#Code/Answers below :

def rem_vowel(string): 
    vowels = ('a', 'e', 'i', 'o', 'u')  
    for x in string.lower(): 
        if x in vowels: 
            string = string.replace(x, "") 
              
    # Print string without vowels 
    print(string) 
  
string = "we are going to reva university"
rem_vowel(string)

w r gng t rv nvrsty

<hr>

#  <h1><u><center><b> GROUP-5 (G-5) : </b></center></u></h1>


<hr>

<pre>1.) Write a Python program to check a triangle is equilateral, isosceles or scalene. 

Note :
An equilateral triangle is a triangle in which all three sides are equal.
A scalene triangle is a triangle that has three unequal sides.
An isosceles triangle is a triangle with (at least) two equal sides.

EG :
Expected Output:

Input lengths of the triangle sides:                                    
x: 6                                                                    
y: 8                                                                    
z: 12                                                                   
Scalene triangle  
</pre>

In [ ]:
#Solved by : Srikanth

#Code/Answers below : 

def triangle(x,y,z):
  if x == y == z:
	  print("Equilateral triangle")
  elif x==y or y==z or z==x:
	  print("isosceles triangle")
  else:
	  print("Scalene triangle")
   
x = int(input('enter 1st input '))
y = int(input('enter 2st input '))
z = int(input('enter 3st input '))

triangle(x,y,z)

enter 1st input 2
enter 2st input 1
enter 3st input 3
Scalene triangle

<pre>2.) Write a Python program to construct the following pattern, using a nested loop number for value n, inputted by the user. 

Eg : n = 9

1
22
333
4444
55555
666666
7777777
88888888
999999999
</pre>

In [ ]:
#Solved by : Tonima Paul

#Code/Answers below :

def number_pattern(n):
  i=1
  while(i<=n):
    print(str(i)*i)
    i = i + 1

n = int(input('Enter input: '))
number_pattern(n)

Enter input: 15
1
22
333
4444
55555
666666
7777777
88888888
999999999
10101010101010101010
1111111111111111111111
121212121212121212121212
13131313131313131313131313
1414141414141414141414141414
151515151515151515151515151515

<pre>3.) Write a series from 1 to n, provided for every multiple of 3 it prints "hello" and every multiple of 5 it prints "world"</br> and in case it is a multiple of both 3 and 5 it prints "hello world" in the same line.
</pre>

In [ ]:
#Solved by : Tonima Paul

#Code/Answers below :

def number_pattern2(n):
  i=1
  while(i<=n):
    if(i%15==0):
      print('hello world')
    elif(i%5==0):
      print('world')
    elif(i%3==0):
      print('hello')
    else:
      print(str(i))
    i = i + 1

n = int(input('Enter input: '))
number_pattern2(n)

Enter input: 45
1
2
hello
4
world
hello
7
8
hello
world
11
hello
13
14
hello world
16
17
hello
19
world
hello
22
23
hello
world
26
hello
28
29
hello world
31
32
hello
34
world
hello
37
38
hello
world
41
hello
43
44
hello world

<pre>4.) Write a program that asks the user to enter a size and then draws the letter C like the one below. It’s
width and height should be equal and the size specified by the user. 

EG : height = 5, width = 6
******
*
*
*
******
</pre>

In [ ]:
#Solved by :

#Code/Answers below :

<pre>5.) Convert the following for loop to while loop.

>>> for i in range(-100,-49,2):
...   print(i)

</pre>

In [ ]:
#Solved by :

#Code/Answers below :

<pre>6.) Print the square of odd numbers from 1 to n, where n is inputted by the user and print the even numbers as it is.

EG : n = 6
1 2 9 4 25 6

In [ ]:
#Solved by :

#Code/Answers below :

<hr>

#  <h1><u><center><b> GROUP-6 (G-6) : </b></center></u></h1>


<hr>

<pre>1.) Print all multiples of 13 that are smaller than 100. Use the range function in the
following manner: range (start, end, step) where "start" is the starting value of the
counter, "end" is the end value and "step" is the amount by which the counter is
increased each time.
</pre>

In [ ]:
#Solved by :

#Code/Answers below :

<pre>2.) Write a function to generate and print factorial numbers up to n (provided by user).
Without using the math and cmath functions.
</pre>

In [ ]:
#Solved by :

#Code/Answers below :

<pre>3.) Using random module, Simulate tossing a coin N times. Hint: you can use 0 (zero) for head and 1 for tails. 
Print the result using while loop until N is achieved. Here, N is inputted by the user.

Eg : N = 5  (Here, 1 and 0 is randomly chosen by random module)
1
0
1
1
0

In [ ]:
#Solved by :

#Code/Answers below :

<pre>4.) Write a program using while loop that asks the user for a number, and prints a
countdown from that number to zero.

</pre>

In [ ]:
#Solved by :

#Code/Answers below :

<pre>5.) Write a Python program to print alphabet pattern 'L'.
Where, h is the height and w is the width of the L. 

EG: here, h = 5, w = 6
 *                                                                      
 *                                                                      
 *                                                                      
 *                                                                      
 ******

 </pre>

In [ ]:
#Solved by :

#Code/Answers below :

<pre>6.) Write a program that prints a series from 1 to N in the same line, where N is inputted by the user and displays it by omitting all the numbers that
have 'zero' in it.

Eg : n = 21 (notice how 10 and 20 where skipped)
1 2 3 4 5 6 7 8 9 11 12 13 14 15 16 17 18 19 21
</pre>

In [ ]:
#Solved by :

#Code/Answers below :

<hr>

#  <h1><u><center><b> GROUP-7 (G-7) : </b></center></u></h1>


<hr>

<pre>1.) Write a program to print a series of numbers from 1 to N, after omitting numbers that are multiple of 2 and 5.
</pre>

In [ ]:
#Solved by :

#Code/Answers below :

<pre>2.) Write a program that converts following for loop to while loop:
      
for i in range(-10,-52,-2):
...   print(i)

</pre>

In [ ]:
#Solved by : Guru AI01

#Code/Answers below :

# initialize n with initial value -10
n=-10 

# check the value of n should be greater than -52 for each iteration and print n value 
while(n > -52):
    print(n)

    # decrement n value with 2 step
    n-=2;
    
print('End of while loop')

<pre>3.) Write a program to get the sum of all the even numbers and odd numbers seperately from 1 to n, where n is inputted by the user.

Eg : n = 6
Series : 1 2 3 4 5 6
sum_even = 12    #2 + 4 + 6 = 12
sum_odd = 9      #1 + 3+ 5 = 9
</pre>

In [ ]:
#Solved by :

#Code/Answers below :

<pre>4.) Write a Python program to print alphabet pattern 'I', for height and weight is the same but inputted by the user (i.e, take height from the user and assign the same width as height). Make sure that height or width is an odd number, if it is not an odd number take the next odd number from the number inputted.

EG : h = 6  #since, h is even, we take the next odd no. which is 7
# therefore, h = 7, w = 7
*******                                                                  
   *                                                                    
   *                                                                    
   *                                                                    
   *                                                                    
   *                                                                    
   *
*******  
</pre>

In [ ]:
#Solved by :Rajanna AI01

#Code/Answers below :
height = int(input("Enter number of height = Column ")) # Input Height and Width

if height%2 == 0:     # Check if it's even
    height = height +1   # Added + 1 to make it next Odd number
print("*"*height)

for i in range(height):
    print(" "*int(height/2) + "*")

print("*"*height)

Enter number of height = Column 8
*********
    *
    *
    *
    *
    *
    *
    *
    *
    *
*********

In [ ]:
#Alternative suggested by : Saket

#Code below : 
height = int(input("Enter number of height = Column ")) # Input Height and Width

if height%2 == 0:     # Check if it's even
    height = height +1   # Added + 1 to make it next Odd number

for i in range(height):
    if i==0 or i==height-1:
      print("*"*height)
    else:
      print(" "*int(height/2) + "*")

Enter number of height = Column 8
*********
    *
    *
    *
    *
    *
    *
    *
*********