<a href="https://colab.research.google.com/github/kiranmuloor/DataScience/blob/master/Python/Weekly_Assessments_for_Python_Learning_Group.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# <h1><b><center><u> WEEKLY ASSESSMENTS for Python Learning Group</u></center></b></h1>


## <h2><u> GUIDELINES : </u></h2>

1. Under each group, the leaders and their members are mentioned, and chapter wise questions are added. The leader is supposed to assign each question to their members and solve it before the next session begins. In case the leader is busy, the members can themselves solve the questions on first-come first-serve basis.
2. Please use commenting throughout the code for better understanding and keep the first line of the code as a comment containing your Name, Chapter no., Batch (Eg: BA06), and group no.(Eg: G-1).
3. Kindly maintain the format of the whole google collab sheet which is as follows : <b>Group Number > Chapter No. > Questions</b>. In case you need to add more cells kindly shift them in the particular group and under the particular chapter and not add them at the bottom of the page. Let's keep things organised!
4. Solve the answers only in the coding blocks (They have a run button beside them) which has <b>"#Solved by"</b> mentioned in it.<hr> 
5. <b>IMP : </b>There's <b>only one question for each member of the group to solve</b>. Kindly do not solve multiple questions in this colab. You can try solving all problems in a seperate google colab. Let everyone have a chance! Hence only one question per team member.<br><b> In case questions in your group are not solved by Saturday Evening by certain individuals then only you can solve multiple questions from your group, but please send a reminder!</b><hr>
6. In case you want to suggest a better alternative to an existing solution by your team-mate or someone else, you can add a new code block below their code. Add first line as a comment saying <b>"#Alternative Suggested by : Your Name, batch, GroupNo."</b> Kindly don't edit their code. This way we can see the difference between both the codes.
7. Please don't edit the guidelines, members details and the questions. Only answer the questions. We can see the changes made by Version Control system.
8. Groups 1 to 3 will be under Saket while Groups 4 to 6 will be under Andrea Ma'am. Group 7 is under both Saket & Andrea Ma'am.
9. You can use <b>"Table of Contents"</b> (On top-left, the small icon with three horizontal bars, besides "+code") to easily access the google colab.<hr>
10. <b><u>IMP</u></b> : Kindly press <b>"Ctrl+S"</b> and wait for <b>"Saved Successfully!"</b> to appear at bottom left before closing google colab. You can check in new tab or new private tab to see if changes have been made or not before closing google colab as well.<hr>
11. Make sure your group has made it's own whatsapp groups to assign questions, discuss problems or for any other queries!.
12. In case of any issues feel free to reach out to <b>Saket</b> (7022836253, saket.intern@reva.edu.in).

<hr>


## **SAKET**


<hr>

<hr>

#  <h1><u><center><b> GROUP-1 (G-1) : </b></center></u></h1>
<h2>MEMBERS : </h2>


1. **Pawan Rama Mali (AI01)  [LEADER]**
2.  Nagesh (BA06)
3. Amit Kavnekar (BA06)
4. Vinaya James (AI01)
5. Jenny NIcholas (BA07)
6. Maddipati Rakesh Kumar (AI01)

<hr>

## <h4><b><center><u>CHAPTER-1 </u></center></b></h4>

<hr>

<pre>
1.) Create following Variables :
i) "mystring" to contain "hello"
ii) "myfloat" to contain "2.5"
iii) "myint" to contain "10"
</pre>

In [ ]:
#Solved by : Pawan Rama Mali (AI01)

#Code/Answers below : 

mystring = "hello"
myfloat = 2.4
myint = 10

print(mystring)
print(myfloat)
print(myint)

hello
2.4
10

<pre>
2.) Accept two numbers and find the percentage of the two numbers,<br> where the bigger number is the denominator for calculating percentage. 
</pre>

In [ ]:
#Solved by :Vinaya

#Code/Answers below :
x = int(input("Enter the first value:"))
y = int(input("Enter the second value:"))
if (x >= y ):
     percent = (( y/x) * 100)
else:
     percent = (( x/y )* 100)
print ("percerntage is : ", percent)

Enter the first value:100
Enter the second value:20
percerntage is :  20.0

<pre>
3.) Find the average of three numbers inputted by an user.
</pre>

In [ ]:
#Solved by :vinaya

#Code/Answers below :
x = int (input("Number 1 :"))
y = int (input("Number 2:"))
z = int (input("Number 3:"))
Aver = (x+y+z)/3
print ("Average is :", Aver)

Number 1 :20
Number 2:30
Number 3:40
Average is : 30.0

<pre>
4.) Which of the following is the valid variable name:
i) global
ii) 99flag
iii) text
iv) an$wer
</pre>

In [ ]:
#Solved by :Vinaya

#Code/Answers below :
text = "REVA"
print(text)

REVA

<pre>
5.) Accept two numbers in two variables a & b and interchange the values <br> such that now variable b holds value of a and variable a hold the value of b.
</pre>

In [ ]:
#Solved by :vinaya

#Code/Answers below :
a = int(input("Enter the first Number:"))
b = int(input("Enter the second Number:"))
c=a
a=b
b=c
print("First Variable:", a)
print("Second variable:",b)

Enter the first Number:12
Enter the second Number:30
First Variable: 30
Second variable: 12

<pre>
6.) Print all the even indices and odd indices of a string inputted by the user separately.
</pre>

In [ ]:
#Solved by :Maddipati Rakesh Kumar

#Code/Answers below :
userinput1=input()
even1=[]
odd1=[]
for i in range(0,len(userinput1)):
    if i%2==0:
        even1.extend(userinput1[i])
    else:
        odd1.extend(userinput1[i])

print(even1)
print(odd1)

Rakesh
['R', 'k', 's']
['a', 'e', 'h']

<hr>

## <h4><b><center><u>CHAPTER-2 </u></center></b></h4>

Page 137 to 157 from [11th Std Book.](http://www.cbseacademic.nic.in/web_material/doc/cs/1_Computer-Science-Python-Book-Class-XI.pdf)
<br><br>
<b>Extra Reading Materials :</b> 

[www.javatpoint.com/python-functions](https://www.javatpoint.com/python-functions) 


(Learn about \*args & \*\*kwargs if possible)

<hr>

# New Section

<pre>
1.) Write a function to perform all the basic mathematic (add, diff, multiply, div) operations between two numbers.

In [ ]:
#Solved by : Pawan Rama Mali (AI01)

#Code/Answers below :

def basic_mathematics(num1,num2):
    print("addition is ",num1+num2)
    print("difference is ",num1-num2)
    print("multiplication is ",num1*num2)
    print("division is ",num1/num2)
    


basic_mathematics(98,55)

addition is  153
difference is  43
multiplication is  5390
division is  1.7818181818181817

<pre>
2.) Write a function to concatenate two numbers. Example : Concatenation of 2 & 2 is 22.

In [ ]:
#Solved by :vinaya

#Code/Answers below :

In [ ]:
def con(a,b):
  return(a+b,"is the concatenation of two numbers")
a = input("Enter the first number:")
b = input("Enter the second number:")
con(a,b)

Enter the first number:10
Enter the second number:10

('1010', 'is the concatenation of two numbers')

<pre>
3.) Write a function with default parameters for name and age and display the same in case of if name,age are passed in the function and if they aren't passed in the function.
</pre>

In [ ]:
#Solved by :vinaya

#Code/Answers below :

<pre>
4.) Write a function that accepts three numbers as a parameter and finds the largest among the three.

In [ ]:
#Solved by :vinaya

#Code/Answers below :

In [ ]:
def fun(a,b,c):
  print(max(a,b,c),"is the biggest number")
a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
c = int(input("Enter the  third number:"))
fun(a,b,c)

Enter the first number:10
Enter the second number:30
Enter the  third number:60
60 is the biggest number

<pre>
5.) Write a function that accepts a number as a parameter and prints the number of digits in that given number.
</pre>

In [ ]:
#Solved by :vinaya

#Code/Answers below :

In [ ]:
def dig(a):
  count=0
  for i in range(len(a)):
       count+=1
  print("number of digits",count)      
a = input("Enter the first number:")
dig(a)

Enter the first number:11100
number of digits 5

<pre>
6.) Accept two numbers using arguments in a function, if the first argument is bigger than the second argument then perform subraction between them, else perform addition between them.
</pre>

In [ ]:
#Solved by :Maddipati Rakesh Kumar

#Code/Answers below :
def fun_2_calc(arg1,arg2):
    if arg1>arg2:
        print(arg1-arg2)
    else :
        print(arg1+arg2)

fun_2_calc(-10,6)

-4

<hr>

# <h1><u><center><b> GROUP-2 (G-2) : </b></center></u></h1>
<h2>MEMBERS : </h2>


1.   **Prem Kumar (AI01) [LEADER]**
2.  Rahul Madagni (MBA02)
3. Ashish Singh (BA05)
4. Vilma (MBA03)
5. Dinesh Kumar (AI01)
6. Bharadwaz Sripada (AI01)

<hr>

## <h4><b><center><u>CHAPTER-1 </u></center></b></h4>

<hr>

<pre>
1.) Which are correct type conversions? Also explain why are few of cases are failing to convert types.
i) int (7.0+0.1) 
ii) str (1.2 * 3.4)
iii) float ("77"+".0") 
iv) str ( 9 / 0 )
</pre>

In [ ]:
#Solved by: Prem Kumar KM (AI 01)

#Code/Answers below :
#i),ii) and iii) are correct conversion

#i)int(7.0+0.1)
print(int(7.0+0.1)) #prints the integer value 7
#output: 7 

#ii)str(1.2*3.4)
print(str(1.2*3.4)) #prints the string value '4.08'
#output: '4.08'

#iii)float("77"+".0")
print(float("77"+".0")) #prints float value 77.0
#output: 77.0

#iv)str(9/0) is failing to convert incorrect conversion
print(str(9/0)) #division by zero error
#output:
#ZeroDivisionError

7
4.08
77.0

ZeroDivisionError: ignored

<pre>
2.) Which operations result in 8?
i) 65 // 8 
ii) 17 % 9 
iii) 2**4
iv) 64**0.5
</pre>

In [ ]:
#Solved by: Ashish Singh

#Code/Answers below :

In [ ]:
#Floor division	: The division of operands where the result is the quotient in which the digits after
# the decimal point are removed. But if one of the operands is negative, the result is floored, 
#i.e., rounded away from zero (towards negative infinity)
65//8

8

In [ ]:
#Modulus : returns the remainder when first operand is divided by the second
17%9

8

In [ ]:
#Power : Returns first raised to power second	
64**0.5

8.0

<pre>
3.) Record what happens when following statements are executed:
a) print (n=7)
b) print (5+7)
c) print (5.2, "this", 4-2, "that", 5/2.0)

In [ ]:
#Solved by:Vilma Mitra (MBA03)

#Code/Answers below :

In [ ]:
#(a)
print (n=7)
SyntaxError: invalid syntax
#(b)
print (5+7)
12
#(c)
print (5.2,"this",4-2,"that",5/2.0)
5.2 this 2 that 2.5

<pre>
4.) Calculate root of the following equation:
a) 34x^2 + 68x - 510
b) 2x^2 - x -3 = 0
</pre>

In [ ]:
#Solved by: Dinesh Kumar (AI01)

#Code/Answers below :

In [ ]:
##(a)
import cmath

a = 34 # coeffcients of power 2
b = 68 # coefficient of power 1
c = -510 # constant

# calculate the discriminant
d = (b**2) - (4*a*c) #Formula substitution d = b^2 - 4 X a X c

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-5+0j) and (3+0j)

In [ ]:
#(b)
import cmath

a = 2
b = 1
c = -3

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-1.5+0j) and (1+0j)

<pre>
5.) Write a program that asks two people for their names; stores the names in
variables called name1 and name2; says hello to both of them.
</pre>

In [ ]:
#Solved by:Rahul

#Code/Answers below :

In [ ]:
name1 = input('Enter Name1')
name2 = input('Enter Name2')
print (' Hello ',name1)
print (' Hello ',name2)

Enter Name1Rahul
Enter Name2Anand
 Hello  Rahul
 Hello  Anand

<pre>
6.) Given a number, N from the user. Return 5 previous numbers from N and 5 consecutive numbers from N.
</pre>

In [ ]:
#Solved by:Bharadwaz S (AI 01)

#Code/Answers below :

In [ ]:
def prev_cons(n):# Define function
    print('Given number:',n) #Print the given number
    print('Previous 5 numbers:',n-1,n-2,n-3,n-4,n-5) #print previous 5 numbers using simple subtraction in print statement
    print('Consecutive 5 numbers:',n+1,n+2,n+3,n+4,n+5) #print next 5 numbers using simple addition in print statement
 
prev_cons(15) #Call function to print previous 5 numbers and next 5 numbers for given number 15.

Given number: 15
Previous 5 numbers: 14 13 12 11 10
Consecutive 5 numbers: 16 17 18 19 20

<hr>

## <h4><b><center><u>CHAPTER-2 </u></center></b></h4>

Page 137 to 157 from [11th Std Book.](http://www.cbseacademic.nic.in/web_material/doc/cs/1_Computer-Science-Python-Book-Class-XI.pdf)
<br><br>
<b>Extra Reading Materials :</b> 

[www.javatpoint.com/python-functions](https://www.javatpoint.com/python-functions) 


(Learn about \*args & \*\*kwargs if possible)

<hr>

# New Section

<pre>
1.) Write a function that accepts two parameters which are numbers.<br> The first parameter is the base while the second parameter is the exponential,<br> hence the function should return the power raised to of first parameter<br> Do this without using the math,cmath or any module.

Eg: func(3,4)
>>> 81   #This is the output (3 to the power of 4)
</pre>

In [ ]:
#Solved by :DineshKumarS(AI01)

#Code/Answers below :

In [ ]:
def mPwr(m,n):
  p = m
  for i in range(1,n): #without using math , cmath or any module
    p = p*m
  return p
mPwr(3,4)

81

In [ ]:
#Alternate suggestion by : Saket Savarn (Intern)

#Code/Answers below :
def Pwr(m,n):
  return m**n

Pwr(3,4)

81

<pre>
2.) Write two separate functions. The first function accepts the two numbers and performs addition<br> on them, while the second function takes the sum of the added numbers from the first function<br> and multiplies it with 10 and returns the product.<br> (Use "Composition" concept as mentioned in the 11th std book)

In [ ]:
#Solved by : Bharadwaz S (AI01)

#Code/Answers below :

In [ ]:
def addnum(x,y): #Two numbers will be passed as parameters
    print("First number:",x) #Print first number
    print("Second number:",y) #Print second number
    z = x+y #Add both the numbers and store the result in z
    print("Addition of two numbers:",z) #Print the addition of both the numbers
    return(z) #Return the addition of both the number i.e., z
def prod(z): #One number will be passed as an input to the function
    a = z*10 #Multiply the input with 10 and store it in variable 'a' 
    print("Result after multiplying with 10:",a) #Print the product after multiplying with 10
prod(addnum(2,10))

First number: 2
Second number: 10
Addition of two numbers: 12
Result after multiplying with 10: 120

<pre>
3.) Write a function that increments the value of the given number (passed as a parameter) by 1.
</pre>

In [ ]:
#Solved by :

#Code/Answers below :

<pre>
4.) Given that 1 USD is equal to 73.42 INR. Write a function that converts USD to INR where the USD is the first argument<br> of that function. In case nothing is passed take the default parameter value for usd as 1.
</pre>

In [ ]:
#Solved by : Prem Kumar KM

#Code/Answers below :
def DollartoINR(USD=1):#Function to convert USD to INR default value $1
  INR = float(USD)*73.42 #USD value 73.42
  return INR
#Default $ value is considered for function 
print("The Default $1 value to INR:",DollartoINR()) #Call function with default

#Enter Dollar value for converion
USD=float(input("Enter the $ Dollar Value for Conversion: "))
print("The Dollar:$", USD , "Value to INR is:", DollartoINR(USD)) #call function with parameter

The Default $1 value to INR: 73.42
Enter the $ Dollar Value for Conversion: 6
The Dollar:$ 6.0 Value to INR is: 440.52

<Pre>
5.) Write a function that accepts one parameter and returns it's data-type.
</pre>

In [ ]:
#Solved by :Ashish Singh (BA05)

#Code/Answers below :

In [ ]:
def acceptParam(a):
  return type(a)
print (acceptParam(1))
print (acceptParam('1'))

<class 'int'>
<class 'str'>

<pre>
6.) Write the first function that prints "hello" and calls another second function.<br> The second function prints "bye". So whenever the first function is run, the output is "Hello" and "bye"<br> but when only second function is run, only "bye" is the output.
</pre>

In [ ]:
#Solved by : Rahul Madagni (MBA02)

#Code/Answers below :

In [ ]:
def mPrint1():#using simple print and return statements
  print ("bye")
  return "bye"
def mPrint2():
  print ("hello",mPrint1()) 

mPrint2()

bye
hello bye

In [ ]:
def mPrint1(a='')

<hr>

# <h1><u><center><b> GROUP-3 (G-3) : </b></center></u></h1>
<h2>MEMBERS : </h2>


1. **Pritam Patnaik (AI01) [LEADER]**  
2.  Taiba (BA05) (ph.no.9631931467)
3. Krishna Kant Roy (BA07) (Ph. No.- 9587278418) 
4. Milind Rotti (AI01)
5. Ajita Patel (MBA04)
6. Madhukeshwar R K (BA06)

<hr>

## <h4><b><center><u>CHAPTER-1 </u></center></b></h4>

<hr>

<pre>
1.) Write a simple calculator program that displays an option of set of operators.<br> The user inputs two numbers and chooses the operator from the options shown.<br> The output should be the operation between the two numbers and that operator chosen.
</pre>

In [ ]:
#Solved by:Ajita Patel

#Code/Answers below :
num1 = float(input("Enter First Number: "))
num2 = float(input("Enter Second Number: "))

op = input("Enter the operation you want to perform   +,-,*,/ : ")

result = 0
if op == '+':
    result = num1 + num2
elif op == '-':
    result = num1 - num2
elif op == '*':
    result = num1 * num2
elif op == '/':
    result = num1 / num2
else:
    print("Input character is not recognized!")

print(num1, op , num2, ":", result)

<pre>2.) The Body Mass Index, BMI, is calculated as
<center>BMI = w / h^2;</center><br> (here, h is raised to power of 2)
where w is the person’s weight in kg and h is the person’s height in metres. Write a program that
asks the user for their height their weight and prints out their BMI.

In [ ]:
#Solved by : Taiba Naz, BA-05,Chapter1,Group 3

#Code/Answers below :
#Take the height and weight of the user,convert into float first for mathematical operation,then using formula calculate BMI and print it.
w = float(input("Enter your weight in Kg:"))
h = float(input("Enter your height in meters:"))
x = round(w/(h**2),2)#using round function to get the result upto 2 decimal place.
print("your BMI is ", x)

<pre>
3.) Write the value :
i) 2*(3+4)
ii) 2*3+4
iii) 2+3*4
</pre>

In [ ]:
#Solved by : Krishna Kant Roy, BA-07, Chapter-1, Group-3

#Code/Answers below :
print (2*(3+4))
print (2*3+4) 
print (2+3*4)  

# print (" ")  #for breaking the line 
print ('\n')

# or, it can be solved by below method- 
a =  (2*(3+4))
b =  (2*3+4) 
c =  (2+3*4) 
print(a, b, c)  #can be printed all together 
print ('\n')  # for breaking the line 
print(a)   #can be printed individually 
print(b)
print(c)  

print('\n')
# or, it can be solved by below method (without any programme) - 
#Print multiple statements in same line (magic statement)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all" 

2*(3+4) 
print(' ') #just to break the line

2*3+4 
print(" ") #for breaking the line

2+3*4

<pre>
4.) Accept age from the user and check if he/she is eligible for voting or not. (Take age criteria for voting as 18).

In [ ]:
#Solved by :Pritam Patnaik AI01

#Code/Answers below :
age = int(input('Kindly enter your age'))

if age >= 18:
  print('You are eligible. Vote responsibly')
else : 
  diff = 18-age
  print('Try again after',diff,'year(s)')

<pre>
5.) Record what happens when following statements are executed:
a) print (n=8;n=1)
b) print (145+57.0)
c) print (17.1, "this", 167-245, "that", 16/4.0)
d) print (type(len(str("HELLO"))))

In [ ]:
#Solved by :
 
#Code/Answers below :

<pre>
6. ) Print the multiplication table for variable, n which is inputted by an user.
</pre>

In [ ]:
#Solved by : Madhukeshwar R K

#Code/Answers below :
# Python Program to Print Multiplication Table of a Number n
n = int(input("Enter the number n : ")) # provide the number to print multiplication table

print("Multiplication Table of", n)
for i in range(1, 11):  # for loop to get numbers from 1 to 10.
   print(n,"X",i,"=",n * i) # multiplies the input number for the numbers 1 - 10 and prints the output

<hr>

## <h4><b><center><u>CHAPTER-2 </u></center></b></h4>

Page 137 to 157 from [11th Std Book.](http://www.cbseacademic.nic.in/web_material/doc/cs/1_Computer-Science-Python-Book-Class-XI.pdf)
<br><br>
<b>Extra Reading Materials :</b> 

[www.javatpoint.com/python-functions](https://www.javatpoint.com/python-functions) 


(Learn about \*args & \*\*kwargs if possible)

<hr>

<pre>
1.) Write a function that takes three float values as parameters and returns it's average.<br> In case the no. pass in the parameter is negative, it takes it's absolute or modulus value.
</pre>

In [ ]:
#Solved by : Taiba Naz, BA-05,Chapter2,Group 3

#Code/Answers below :
#define average function,take 3 float values(x,y,z) as parameters
#using absolute function convert any negative into its positive value
def average(x,y,z):
  x = abs(float(x))
  y = abs(float(y))
  z = abs(float(z))
  average=(x+y+z)/3  #take the average of 3 numbers
  print("average is",average) 
  
#Evaluate the result
average(1,-2,3)

average is 2.0

<pre>
2.) Write a function that has one parameter. Check if that parameter is in the range of 1 to 100<br> (where both 1 and 100 are inclusive in the range). If the number is in the range, print "Success" or else print "failure".

In [ ]:
#Solved by :

#Code/Answers below :

In [ ]:
#Alternative suggested by :Taiba Naz
def check(n):
  if n in range(1,101):
    print("Success")
  else:
    print("Failure")  
check(100)

Success

<pre>
3.) Write a function to 3 numbers as a parameter/argument and concatenate them.
Eg: func(3,6,5)
>>> 365 # This is the output
</pre>

In [ ]:
#Solved by : Ajita Patel


#Code/Answers below :
def numConcat(x,y,z):
    x=str(input("Enter first number: "))
    y=str(input("Enter second number: "))
    z=str(input("Enter third number: "))
    return x+y+z
x=0
y=0
z=0
print(numConcat(x,y,z))

In [ ]:
#Alternative suggested by :Taiba Naz
def conc(a,b,c):
  a=str(a)
  b=str(b)
  c=str(c)
  conc =a+b+c
  print(conc)
conc(3,6,5)

365

<pre>
4.) Write a function that accepts a parameter. If the parameter is an even number, then it calls another user-defined<br> function called even and prints "even", else it calls anohter function called odd and prints "odd".
</pre>

In [ ]:
#Solved by : Krishna Kant (BA07)

#Code/Answers below : 
def fun (X):  #first define the conditional loop
  if X%2 == 0:
    print ('even') 
  else :
    print ('odd') 

#Lets check 
fun(10)  
fun (15)

even
odd

In [ ]:
#Alternative suggested by :Taiba Naz
def fun(x):
  if x%2 == 0:
    even()
  else:  
      odd()

def even():
  print("even")  

def odd():
  print("odd")      

fun(7)  
fun(8)

odd
even

<pre>
5.) Write a function to check if the parameter passed in it is divisible by 10 or not.
</pre>

In [ ]:
#Solved by :Pritam Patnaik AI01

#Code/Answers below :
def divByTen(num):
  if num%10==0:
    print(num,'is Divisible by 10')
  else:print('Not divisible')

divByTen(101)

Not divisible

<pre>
6.) Write a function that accepts a number as parameter, then it converts that number to negative of itself, multiplies<br> negative number by 10, adds 24 to this product, divides this sum by 5 and finally returns the quotient.
</pre>

In [ ]:
#Solved by : Madhukeshwar R K

#Code/Answers below :
def number(n):
    n = n * (-1) # converts that number to negative of itself
    n = n * 10   # multiplies negative number by 10
    n = n + 24   # adds 24 to this product
    n = int(n / 5)    # divides this sum by 5
    return abs(n)     # returns the quotient

number(10)

15

<hr>


## **ANDREA**


<hr>

<hr>

# <h1><u><center><b> GROUP-4 (G-4) : </b></center></u></h1>
<h2>MEMBERS : </h2>


1. **Jitendra Surya (PhD) [LEADER] 9845097325**  
2.  Nidhil (MBA02)
3. Suresha K (BA05) 9481848789
4. Srikanth (AI01) (9886053890)
5. Anand Limbare (BA05) 9916118517
6. Bipin K B (BA07)

<hr>

## <h4><b><center><u>CHAPTER-1 </u></center></b></h4>

<hr>

<pre>
1.) Write a program that asks the user to enter their name. Then print out the user’s name three times on
the same line.
</pre>

In [ ]:
Ok#Solved by : Suresha K
 
#Code/Answers below :
# To play the message to ask name of the user
name = input("Hello, What is your name? ") # Type your name and hit Enter
# To play the messgae with user's name three times on the same line
print("Nice to meet you! ", name, name, name ) 
print("Nice to meet you! ", name*3) 
times=int(input("How many times do you need to repeat? ")) # Type number of times
print("Nice to meet you! ", (name+" ")*times)

Hello, What is your name? Suresha
Nice to meet you!  Suresha Suresha Suresha
Nice to meet you!  SureshaSureshaSuresha
How many times do you need to repeat? 15
Nice to meet you!  Suresha Suresha Suresha Suresha Suresha Suresha Suresha Suresha Suresha Suresha Suresha Suresha Suresha Suresha Suresha

In [ ]:
#Alternative suggested by : Srikanth

#Code/Answers below :
# To play the message to ask name of the user
name = input("Hello, What is your name? ") # Type your name and hit Enter
times = int(input("how many times do u want to repeat "));
# To play the messgae with user's name multiple times on the same line 
def printval(name,times):
  print("Nice to meet you! {}".format((name+" ")*times));

printval(name,times)

Hello, What is your name? sriyaa
how many times do u want to repeat 3
Nice to meet you! sriyaa sriyaa sriyaa

<pre>
2.) Accept the length of a square and return it's perimeter and area.

In [ ]:
#Solved by :Srikanth

#Code/Answers below :
#To play the message to ask value of the square length
value = int(input("Enter side length of Square: "));
area = value**2;
perimeter = 4*value;
#print the total area of the square
print("Area of square is {}".format(area));
# Perimeter formula is 4 times length of square
print("Perimeter of square is {}".format(perimeter));

Enter side length of Square: 5
Area of square is 25
Perimeter of square is 20

<pre>
3.) We know that : -(-1-1) = 2; knowing this :
Get the sum of any three numbers which are inputted by the user <b>"without"</b> using the addition operator or plus (+) symbol.

In [ ]:
#Solved by : srikanth

#Code/Answers below :

print(-(-1-2-3))

6

<pre>
4.) Which are correct type conversions? Also explain why are few of cases are failing to convert types.
i) int (9.0+7)
ii) str (1.7 * 1.4)
iii) float ("99"+"1.0")
iv) int ("hello")
</pre>

In [ ]:
#Solved by :Srikanth

#Code/Answers below :

int(9.0+7)  #this will ignore the decimal value and convert 9.0 to 9 and sum it with 7 the expected value is 16 not 16.0
str(1.7*1.4) # we can convert the number into string the expected result is '2.38' and the output is converted into string
float("99"+ '1.0') # strings get concatinated addition the expected output is 991.0 not 100.0. 
#int("hello") # cannot convert string to number

991.0

<pre>
5.) Accept two numbers and find the difference in such a way that the output of the difference is not a negative number.<br> Do this using an inbuilt function and without an inbuilt function, both ways.
</pre>

In [ ]:
#without using inbuit function first square the differnce and then take the square root
x=int(input("Enter 1st number "))
y=int(input("Enter 2nd number "))
diff1 = x-y
print(int((diff1**2)**0.5))
#using inbuilt function
diff2=abs( x-y )
print(diff2 )

<pre>
6. ) Given a number, n from the user. If the number is even, print an odd no.<br> series from n to n+11, if it is variable n is an odd no., then print an even no. series from n to n+10.

In [ ]:
#Solved by : Bipin

#Code/Answers below : 

n = int(input('Please Enter the Number: '))

if n%2==0:
    even_odd=0 #flag
else:
    even_odd=1 #flag
    
if even_odd==0: #for odd number
    for i in range(1,11):
        if (n+i)%2==1:
            print(n+i)
elif even_odd==1: #for even number
    for i in range(1,10):
        if (n+i)%2==0:
            print(n+i)

Please Enter the Number: 2
3
5
7
9
11

<hr>

## <h4><b><center><u>CHAPTER-2 </u></center></b></h4>

Page 137 to 157 from [11th Std Book.](http://www.cbseacademic.nic.in/web_material/doc/cs/1_Computer-Science-Python-Book-Class-XI.pdf)
<br><br>
<b>Extra Reading Materials :</b> 

[www.javatpoint.com/python-functions](https://www.javatpoint.com/python-functions) 


(Learn about \*args & \*\*kwargs if possible)

<hr>

<pre>
1.) Write a function which accept two parameters and check if that if the first parameter is completely divisible<br> by the second parameter. If it is return True or else return False.
</pre>

In [ ]:
#Solved by : Suresha K

#Code/Answers below :

#input values, first number as n1 and second number as n2
n1 = int(input('Enter n1: '))
n2 = int(input('Enter n2: '))

#define function to divide n1 by n2
def divide(n1,n2):
   return True if n1 % n2 == 0 else False

#print result
print("Is n1 divisible by n2 ? :", divide(n1,n2))

Enter n1: 18
Enter n2: 3
Is n1 divisible by n2 ? : True

<pre>
2.) Write a function to find the smallest number among three parameters passed in the function.
</pre>

In [ ]:
#Solved by : Jitendra R

#Code/Answers below :
number1 = int(input('Enter First number : '))
number2 = int(input('Enter Second number : '))
number3 = int(input('Enter Third number : '))
def largest(num1, num2, num3):
    if (num1 > num2) and (num1 > num3):
        largest_num = num1
    elif (num2 > num1) and (num2 > num3):
        largest_num = num2
    else:
        largest_num = num3
    print("The largest of the 3 numbers is : ", largest_num)
def smallest(num1, num2, num3):
    if (num1 < num2) and (num1 < num3):
        smallest_num = num1
    elif (num2 < num1) and (num2 < num3):
        smallest_num = num2
    else:
        smallest_num = num3
    print("The smallest of the 3 numbers is : ", smallest_num)
largest(number1, number2, number3)
smallest(number1, number2, number3)

Enter First number : 3
Enter Second number : 7
Enter Third number : 5
The largest of the 3 numbers is :  7
The smallest of the 3 numbers is :  3

<pre>
3.) Write a function that accepts a string as an argument. If the length of the string is even then print "Even" or<br> else print "odd".
<pre>

In [ ]:
#Solved by : Srikanth

#Code/Answers below :

def strlength(val):
  if(len(val)%2 == 0):
    print('even')
  else:
    print("odd")

strlength('srikanth');

even

<pre>
4.) Find the output of the follwing case 'a' and case 'b' and explain why they are having different outputs for print(x).
</pre>
<pre>
a.)
>>> x = 10
>>> def f(a):
        x = int(input("Enter no. any no. besides 10 : "))
        print (x)
>>>
>>> f(x)
>>> print (x)
</pre> 
<pre>
b.)
>>> x = 10
>>> def g(a):
        global x
        x = int(input("Enter any no. besides 10 : "))
        print (x)
>>>
>>> g(x)
>>> print (x)
</pre>

In [ ]:
#Solved by : Anand Limbare

#Code/Answers below :
#a. Enter no. any no. besides 10 : 8
#8
#10

# I did this problem on 24th, did someone accidentally erase it?

<pre>
5.) Write a function to accept the area of a square as the parameter and then return it's lenght of the side.
</pre>

In [ ]:
#Solved by : Bipin K B 
 
#Code/Answers below :
def area (length):
    a = length**2
    return length

print("Length of the side is: ",area(5))

Length of the side is:  5

<pre>
6.) Let ABC be a function that accepts three parameters namely a,b and c respectively which are the length<br> of the sides of a triangle. Knowing that the pythagoras theorem is a<sup>2</sup> + b<sup>2</sup> = c<sup>2</sup>. Find if the given triangle<br> is a right-angled triangle or not. 
<br>
Eg : 
>>> ABC(12,5,13) #As 12<sup>2</sup>+5<sup>2</sup> = 13<sup>2</sup>
Given triangle is a right angled triangle.
>>> ABC(10,10,10)
Not a right angled triangle

In [ ]:
#Solved by :Srikanth

#Code/Answers below :

def ABC(a,b,c):
  if(a**2 + b**2 == c**2):
    print('Given triangle is a right angled triangl')
  else:
    print("Not a right angled triangle")

ABC(12,5,13)
ABC(10,10,10)

Given triangle is a right angled triangl
Not a right angled triangle

<hr>

# <h1><u><center><b> GROUP-5 (G-5) : </b></center></u></h1>
<h2>MEMBERS : </h2>


1. **Kiran Muloor (MBA04) [LEADER]** -- 8197418010  
2. Tonima (BA06)
3. Anshumaan Dash (MBA03)
4. Ravi Prabhakar (MBA03)
5. Parimala (MBA02)
6. Mutturaj Uppaladinni (BA05)

<hr>

## <h4><b><center><u> CHAPTER-1 </u></center></b></h4>

<hr>

<pre>
1.) Accept the length and breadth of a rectangle and return it's perimeter and area.

In [ ]:
#Solved by :Kiran Muloor
recLn = float(input("Enter Length for rectangle:"))
recBd = float(input("Enter Breadth for rectangle:"))

#Code/Answers below : Perimeter = 2(L+B)
sPerimeter = 2* ( recLn + recBd)

print("Perimeter of the rectangle is :"+ str(sPerimeter))

Enter Length for rectangle:10
Enter Breadth for rectangle:2
Perimeter of the rectangle is :24.0

<pre>
2.) Calculate root of the following equation:
a) 3x^2 - x - 10 = 0
b) 2x^2 - 5x + 3 = 0
(Here, ^2 means raised to power of 2)
</pre>

In [ ]:
#Solved by : Ravi Mummigatti
#Code/Answers below :

###### How to solve a quadratic equation #######
# Roots of a quadratic equation of the form ax^2 + bx + c = 0 are given by the formula
# x1 = (-b + sqrt(d))/2a
# x2 = (-b - sqrt(d))/2a
# We call the term b2 −4ac the discriminant d
# d = (b^2 - 4ac) 
# a , b , c are the co-effecients of the respective terms of the quadratic equation
# Roots are also called x-intercepts or zeros
#################################################

## Equations to solve 
## 1st equation : 3x^2 - x - 10 = 0
## 2nd equation : 2x^2 - 5x + 3 = 0

# Step 1 : import complex math module 
import cmath

# Step 2: define the co-efficients
## co-effieient of x^2
a1 = 3                # co-efficient of x^2 for the 1st equation
a2 = 2                # co-efficient of x^2 for the 2nd equation

## co-efficient of x
b1 = -1               # co-efficient of x for the 1st equation
b2 = -5               # co-efficient of x for the 2nd equation

## constant terms
c1 = -10              # constant term for the 1st equation
c2 = 3                # constant term for the 2nd equation

# Step 3 : calculate and define the discriminants
d1 = b1^2 - 4*a1*c1 # discriminat for the 1st equation
d2 = b2^2 - 4*a2*c2 # discriminant for the 2nd equation


# Step 4 : calculate the roots root 1 and root 2
root1e1 = (-b1 + cmath.sqrt(d1))/2*a1 # 1st root
root2e1 = (-b1 - cmath.sqrt(d1)) / 2*a1 # 2nd root
root1e2 = (-b2 + cmath.sqrt(d2))/2*a2 # 1st root
root2e2 = (-b2 - cmath.sqrt(d2)) / 2*a2 # 2nd root

# Step 5 : print the results
print("The 1st root of the equation 3x^2 - x - 10 = 0 is : " , root1e1)
print("The 2nd root of the equation 3x^2 - x - 10 = 0 is : " , root2e1)
print("The 1st root of the equation 2x^2 - 5x + 3 = 0 is : " , root1e2)
print("The 2nd root of the equation 2x^2 - 5x + 3 = 0 is : " , root2e2)

The 1st root of the equation 3x^2 - x - 10 = 0 is :  (1.5+16.635804759614125j)
The 2nd root of the equation 3x^2 - x - 10 = 0 is :  (1.5-16.635804759614125j)
The 1st root of the equation 2x^2 - 5x + 3 = 0 is :  (9.123105625617661+0j)
The 2nd root of the equation 2x^2 - 5x + 3 = 0 is :  (0.8768943743823394+0j)

# New Section

In [ ]:
#Alternative suggested by :Taiba Naz
"""Above equation can been solved easily with/without the help of function &evaluated the result"""
#if quadratic equation a(x**2)+bx+c=0, then x1=(-b+math.sqrt((b**2)-4*a*c)))/2*a,x2=(-b-math.sqrt((b**2)-4*a*c)))/2*a
import math
def root_quad_equ(a,b,c):
  d=b**2-4*a*c# if it is positive, we get two Real solutions
  print("d is ",d)
  x1 = round((-b+math.sqrt((b**2)-(4*(a*c))))/(2*a),2)
  x2 = round((-b-math.sqrt((b**2)-(4*(a*c))))/(2*a),2)
  print("roots of equation is ",x1,"&",x2)
root_quad_equ(3,-1,-10)

d is  121
roots of equation is  2.0 & -1.67

In [ ]:
#Evaluate the result
x1=2.0
x2=-1.67
y1=round(3*(x1**2)-x1-10,2)# it should be zero if 1st root is right
y2=round(3*(x2**2)-x2-10,2)# it should again zero if 2nd root is right
print(y1,"&",y2,"~ 0")

0.0 & 0.04 ~ 0

<pre>
3.) Write a code that accepts your name and bday and prints the <br>name and the Birthday and gives output as "Hello NAME, Your bday is on Jan 1".
</pre>

In [ ]:
#Solved by :Kiran Muloor
from datetime import datetime

sName = input("Enter your Name:")

date_entry = input('Enter a date in YYYY-MM-DD format')
year, month, day = map(int, date_entry.split('-'))
sDOB = datetime(year, month, day)


#Code/Answers below :
print("Hello %s, your bday is on %s"%(sName,sDOB))

Enter your Name:asf
Enter a date in YYYY-MM-DD format2012-2-22
Hello asf, your bday is on 2012-02-22 00:00:00

In [ ]:
#Alternative suggested by :Taiba Naz
#Birthday we never say with time and year,we just mention the day & month,right??
#simple solution should be
name=input("Enter your name ")
bday=input("Enter your birthday ")
print("Hello,",name, "Your birthday is on",bday)

Enter your name Sheza
Enter your birthday 28th August
Hello, Sheza Your birthday is on 28th August

<pre>
4.) Write a program that asks the user to enter a distance in kilometers and then prints out how far that
distance is in miles. There are 0.621371 miles in one kilometer.
</pre>

In [ ]:
#Solved by :Mutturaj UPPALADINNI

#Code/Answers below : 
km = int(input("Enter the value in kilometers: "))
# 1 Kilometre = 0.621371 Mile
ratio = 0.621371
# Converting km to mi.
mi = km * ratio
print("The entered value in Miles: ", mi)

Enter the value in kilometers: 1
The entered value in Miles:  0.621371

<pre>
5.) Write the value :
i) 7*(4+5)
ii) 7*4+5
iii) 7+4*5
</pre>

In [ ]:
#Solved by :Parimala Mudimela

#Code/Answers below :
#i
print(7*(4+5))
#ii
print(7*4+5)
#iii
print(7+4*5)

63
33
27

In [ ]:
#Solved by :Parimala Mudimela

#Code/Answers below :
#i
A=7*(4+5)
print("The result of i) is %d"%A)
#ii
B=7*4+5
print("The result of ii) is %d"%B)
#iii
C=7+4*5
print("The result of iii) is %d"%C)

The result of i) is 63
The result of ii) is 33
The result of iii) is 27

<pre>
6.) Calculate root of the following equation:
i) u^2−5u−14 = 0
ii) 6w^2−w = 5 

(Here, ^2 means raised to the power of 2)
</pre>

In [ ]:
#Solved by :Taiba Naz

#Code/Answers below : 
#if quadratic equation a(x**2)+bx+c=0, then x1=(-b+math.sqrt((b**2)-4*a*c)))/2*a,x2=(-b-math.sqrt((b**2)-4*a*c)))/2*a
import math
def root_quad_equ(a,b,c):
  d=b**2-4*a*c# if it is positive, we get two Real solutions
  print("d is ",d)
  u1 = round((-b+math.sqrt((b**2)-(4*(a*c))))/(2*a),2)
  u2 = round((-b-math.sqrt((b**2)-(4*(a*c))))/(2*a),2)
  print("roots of equation is ",u1,"&",u2)
root_quad_equ(1,-5,-14)

d is  81
roots of equation is  7.0 & -2.0

In [ ]:
#for 6w^2−w = 5 i.e 6w^2−w-5 =0
root_quad_equ(6,-1,-5)

d is  121
roots of equation is  1.0 & -0.83

<hr>

## <h4><b><center><u>CHAPTER-2 </u></center></b></h4>

Page 137 to 157 from [11th Std Book.](http://www.cbseacademic.nic.in/web_material/doc/cs/1_Computer-Science-Python-Book-Class-XI.pdf)
<br><br>
<b>Extra Reading Materials :</b> 

[www.javatpoint.com/python-functions](https://www.javatpoint.com/python-functions) 


(Learn about \*args & \*\*kwargs if possible)

<hr>

<pre>
1.) Understand the "Composition" concept from the 11th book and demonstrate the example of 3 user-defined functions<br> using composition concept.
Eg : 
>>> f1(f2(f3(x))

In [ ]:
#Solved by : Kiran Muloor

#Code/Answers below :Composition is an art of combining simple function(s) to build more complicated ones,
#i.e., result of one function is used as the input to another.
#Suppose we have two functions fn1 & fn2, such that
# a= fn2 (x)
# b= fn1 (a)
# then call to the two functions can be combined as
# b= fn1 (fn2 (x)).

def fn1(x):
  return x;

def fn2(a):
  return 1 + a;

def fn3(b):
  return 2+ b;

In [ ]:
fn1(fn2(fn3(10)))

#Answer : function fn3 will be called first
# with the input value then fn2 and finally f1 will be executed.
# fn3--> fn2-->fn1 with result

13

<pre>
2.) Write a function that has two parameters. The first parameters accepts distance in km while the second parameters<br> accepts the time in hours. Calculate the speed in km/hr using this function & return it.
</pre>

In [ ]:
#Solved by :Mutturaj UPPALADINNI

# Code/Answers below :
#The formula for speed is speed = distance ÷ time. To work out what the units are for speed, you need to know the units for distance and time. In this example, 
# distance is in Kilometers(km) and time is in Hour(Hr), so the units will be in Kilometers per Hours (Km/Hr).


# Function to calculate speed 
def cal_speed(dist, time): 
	print(" Distance(km) :", dist); 
	print(" Time(hr) :", time); 
	return dist / time; 

# Calling function cal_speed() 
print(" The calculated Speed(km / hr) is :", 
					cal_speed(45, 1.5 )); 
print("");

 Distance(km) : 45
 Time(hr) : 1.5
 The calculated Speed(km / hr) is : 30.0

<pre>
3.) Write a function that accepts a number as a parameter and reduces it by 1 and then returns it.
</pre>

In [ ]:
#Solved by :Taiba Naz

#Code/Answers below :
def redby1():
  n=int(input("enter a number "))
  x = n-1
  return x
redby1()

enter a number 5

4

4.) Write a function that accepts three numbers as the parameter and returns the number which isn't the largest and which isn't the smallest. It returns the middle value

In [ ]:
#Solved by : Tonima Paul

#Code/Answers below :

number1 = input('Enter First number : ')
number2 = input('Enter Second number : ')
number3 = input('Enter Third number : ')

def MiddleNumber(num1, num2, num3):
    if (num1 > num2) and (num1 < num3):
        mid_num = num1
    elif (num1 < num2) and (num1 > num3):
        mid_num = num1
    elif (num2 < num1) and (num2 > num3):
        mid_num = num2
    elif (num2 > num1) and (num2 < num3):
        mid_num = num2
    else:
        mid_num = num3
    print("The middle number of the 3 numbers is : ", mid_num)

MiddleNumber(number1, number2, number3)

Enter First number : 7.7
Enter Second number : 2.2
Enter Third number : 9.8
The middle number of the 3 numbers is :  7.7

<pre>
5.) Write a function that two numbers as the paramter and if no values are passed into the function on running it<br> uses default values as 10,20. Return the larger even number among the two no.s, if none of them<br> are even then print "Failed".
</pre>

In [ ]:
#Solved by :Taiba naz

#Code/Answers below :
def larger_even(a=10,b=20):
  if a%2==0 and b%2==0:
    if a>b:
      print(a)
    else:
      print(b)
  elif a%2==0 and b%2!=0:   
     print(a)
  else:
    print(b) 
larger_even(5,8)
larger_even(4,8)
larger_even(4,9)
larger_even()

8
8
4
20

<pre> 6.) Write a function that accepts a number as a parameter. If the number is even return it's squared value, if<br> it is odd then return it's cube.
</pre>

In [ ]:
#Solved by : Tonima Paul

#Code/Answers below :

number = int(input("Enter a number: "))

def Num_SqCube(num):
    if (num % 2) == 0:
        print(format(pow(num, 2)))
    else:
        print(format(pow(num, 3)))

Num_SqCube(number)

Enter a number: 5
125

<hr>

# <h1><u><center><b> GROUP-6 (G-6) : </b></center></u></h1>
<h2>MEMBERS : </h2>


1. **Ashok (MBA02) [LEADER]**  
2. Anand KN (BA06) 
3. Suresha HP (BA05)
4. Preethi (BA05)
5. Pradeep (BA06)
6. Sneha (BA06)

<hr>

## <h4><b><center><u>CHAPTER-1 </u></center></b></h4>

<hr>

<pre>
1.) Accept the radius of a circle from the user and return the diameter, area and perimeter of the circle.
</pre>

In [ ]:
#Solved by :Pradeep Thota

#Code/Answers below : 
# Here radius of circle formula is pi*r(square), and pi is constans r(radius) we need to give as input
#Pi formula is available in math function as predfined so we imported it
from math import pi
#r is the radius we need to give as input and its always good to go with data type as float as it can accept decimal point hence we given the same
#reading R value
r = float(input ("Input the radius of the circle : "))
# displaying data and here we used str(r) is to see data in string format and applied formula as radius = pi*r(squared)
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 4
The area of the circle with radius 4.0 is: 50.26548245743669

<pre>
2.) A ride can only accept ages 12 and below. Accept the age of the user and<br>check if he/she is eligible to take the ride or not.
</pre>

In [ ]:
#Solved by :Preethi B.S
 
#Code/Answers below : 
#Taking age as input file which is of float
age = float(input ("Please Enter your Age : "))
# applying if condition as if age is below 12 ride is accepted
if(age < 12):
    print("You are eligible for Ride please enjoy.")
# apllying else (if not) condition if their age is more that 12 we are not accepting ride
else:
    print("Sorry your age is "+ str(age) + " you are not eligible for ride as we accept ride for below 12 years age.")

<pre>
3.) Record what happens when following statements are executed:
a) print (n=5;n=3)
b) print (1478+5192.0)
c) print (12.167, "this", 12967-245, "that", 16/40.5)
d) print (type(len(str("HELLO"))))
</pre>

In [ ]:
#Solved by :Pradeep Thota

#Code/Answers below : 
# A) Throws an error because we are printing value without quotes and assigning values in side print statement.
# B) It does addition without erroes
# c) prints all data inside print statement
# D) Gives the class/type of the statement

print (1478+5192.0)
print (12.167, "this", 12967-245, "that", 16/40.5)
print (type(len(str("HELLO"))))
print (n=5;n=3)

SyntaxError: ignored

<pre>
4.) Accept the temperature in Fahrenheit in variable F, and calculate the same in celsius, C, given that :
<center> C = (F - 32) × 5/9</center>
Print the temperature in both Fahrenheit and celsium.
</pre>

In [ ]:
#Solved by : Suresha HP

#Code/Answers below : 
# Reading temperature in Fahrenheit
Fahrenheit = float(input('Enter temperature in Fahernheit: '))
# Converting Fahrenheit to celsius
celsius = (Fahrenheit - 32) * 5/9
# Displaying output
print('%.2f Fahrenheit is: %0.2f Celsius' %(Fahrenheit, celsius))

Enter temperature in Fahernheit: 10
10.00 Fahrenheit is: -12.22 Celsius

<pre>
5.) Check all syntactically correct statements
i) a = input ( )
ii) a = input (“enter a number”)
iii) a = input (enter your name)
</pre>

In [ ]:
#Solved by : Preethi BS

#Code/Answers below : 
# i) is syntatically correct as it runs empty string and takes input dynamically and stores in a as a String
# ii) Worng syntax it wont consider to take input
# iii) Worng syntax it wont consider to take input

<hr>

<hr>

## <h4><b><center><u>CHAPTER-2 </u></center></b></h4>

Page 137 to 157 from [11th Std Book.](http://www.cbseacademic.nic.in/web_material/doc/cs/1_Computer-Science-Python-Book-Class-XI.pdf)
<br><br>
<b>Extra Reading Materials :</b> 

[www.javatpoint.com/python-functions](https://www.javatpoint.com/python-functions) 


(Learn about \*args & \*\*kwargs if possible)

<hr>

<pre>
1.) The formula for gravitational force is given as follows :

<center> F = (G x m1 x m2)/r<sup>2</sup></center>

HERE, m1 = Mass of body 1 
      m2 = Mass of body 2 
      r  = distance between body 1 & 2
      Consider, G = 100

Write a function that accepts m1,m2, and r as it's three parameters respectively and then return the<br>gravitational force, F.

NOTE : Ignore units like kg for mass, metres for distance. Just take the values as it is without converting them.

In [ ]:
#Solved by :Pradeep Thota

#Code/Answers below :
m1=float(input("Enter the mass of object m1: "))
m2=float(input("Enter the mass of object m2: "))
r =float(input("Enter the distance between the two objects m1 and m2: "))
G=100
f=(G*m1*m2)/r**2
print("The force of gravity between two objects m1 and m2 =",f)

Enter the mass of object m1: 10
Enter the mass of object m2: 12
Enter the distance between the two objects m1 and m2: 8
The force of gravity between two objects m1 and m2 = 187.5

<pre>
2.) Write a function that accepts a no. as it's parameter and return it's predecessor no. and the successor no.

Eg : func(28)
Predecessor : 27
Successor : 29
</pre>

In [ ]:
#Solved by : Sneha_MBA05

#Code/Answers below :
x =int(input("Enter the number X: "))
Pre = x-1
Suc = x+1
print("The predecessor of the given number is: ",Pre)
print("The successor of the given number is: ",Suc)

<pre>
3.) Write a function that has a parameter. If no value is passed on running the function take default value as 10.<br>Check wheter if the function is a single digit no. or not.
</pre>

In [ ]:
#Solved by : Sneha_MBA05

#Code/Answers below :
x =int(input("Enter the number X: "))
if( len(str(x)) > 1):
 print("The number is not Single Digit ")
else:
  print("The number is  Single Digit ")

<pre>
4.) Write a function that accepts the hour (not the minutes, only hour) as a parameter in 24 hours format,<br>and returns it in 12 hour format.

Eg : func(17)
17 hr in 12 hour format is 5 hr.
</pre>

In [ ]:
#Solved by :

#Code/Answers below :

<pre>
5.) Explain what is happening in this code and how we get the output. What is the usage of global keyword?<br>What happens when we remove global from both f() and g() functions and why does it happen?

>>> x = 1
>>> def f():
      global x
      print (x)
      if x>0:
        g()

>>> def g():
      global x
      x+=1
      if x<11:
        f()

>>> f()
</pre>

In [ ]:
#Solved by : Preethi BS

#Code/Answers below :
# we have assigned 1 value to x
x = 1

#defined a function f(), made x as a global variable so it can be used in another condition if we remove that we cant call x
#gave a condition if x is greater than 0 assign that value to g
def f():
      global x
      print (x)
      if x>0:
        g()

#defined a function g() and made x as auto increment,
# gave a condition if x is lessthan 11 then assign that to f
# so here f value contains numbers 1 to 10 and g values contains from 2 to 10
def g():
      global x
      x+=1
      if x<11:
        f()

f()

1
2
3
4
5
6
7
8
9
10

<pre>
6.) Write a function that accepts a string as a parameter and return it's length.
</pre>

In [ ]:
#Solved by : Anand KN

#Code/Answers below :

#This can be acheived in two ways:
#Method 1:
str = input("Enter a string: ")
print("Length of the input string is:", len(str))

# counter variable to count the character in a string
#Method 2:
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

<hr>

# <h1><u><center><b> GROUP-7 (G-7) : </b></center></u></h1>
<center>Under both Saket & Andrea ma'am (Can reach out to either for help).</center>
<h2>MEMBERS : </h2>


1. **Anuraag Anand (MBA03) [LEADER]**  
2. Lalit Aggarwal (BA05)
3. Gurushanth (AI01)
4. Rajanna (AI01) 
5. Gaurav (AI01)

<hr>

## <h4><b><center><u>CHAPTER-1 </u></center></b></h4>
<center>Questions will be added soon</center>
<hr>

<hr>

## <h4><b><center><u>CHAPTER-2 </u></center></b></h4>

Page 137 to 157 from [11th Std Book.](http://www.cbseacademic.nic.in/web_material/doc/cs/1_Computer-Science-Python-Book-Class-XI.pdf)
<br><br>
<b>Extra Reading Materials :</b> 

[www.javatpoint.com/python-functions](https://www.javatpoint.com/python-functions) 


(Learn about \*args & \*\*kwargs if possible)

<hr>

# New Section

<pre>
1.) Write a program to ask for following as input :
Enter your first name: Rahul
Enter your last name: Kumar
Enter your date of birth
Month? March
Day? 10
Year? 1992
And display following on screen
Rahul Kumar was born on March 10, 1992.
</pre>

In [ ]:
#Solved by : Anuraag [MBA03]

#Code/Answers below :

def ask_detail1(): 
  """
  Enter First Name :
  Enter Last Name :
  Enter DOB: Month: ("Jan")/Day("01")/Year("1999").
  """
  firstname=str (input("Enter your first name: "))
  lastname= str (input("Enter your last name: "))
  print("Enter your date of birth:(MMM/DD/YYYY)")
  Month=str(input("Month? "))
  Day=int(input("Day? "))
  Year=int(input("Year? "))
  print("%s %s was born on %s, %d %d" % (firstname,lastname,Month,Day,Year))

In [ ]:
ask_detail1()

NameError: ignored

In [ ]:
def details():
  f_name=input("Enter your first name: ")
  l_name= input("Enter your last name: ")
  print("Enter your date of birth:(MMM/DD/YYYY)")
  Month=input("Month? ")
  Day=input("Day? ")
  Year=input("Year? ")
  print(f_name+l_name+"was born on "+Month+Day+", "+Year)
details()

Enter your first name: Rahul
Enter your last name: Kumar
Enter your date of birth:(MMM/DD/YYYY)
Month? March
Day? 10
Year? 1992
RahulKumarwas born on March10,1992

<pre>
2.) Using "composite" concept taught in the 11th class book, make two of your own user-defined functions that<br>use the composite concept.
</pre>

In [ ]:
#Solved by : Gurushanth - AI01 

#Code/Answers below :
curr_salary = 10000 # current salary of employee.
	
def cal_bonus(percent=10):
  ''' calculate bonous amount.
	
			percent - percentage of bounus, default 10 percent
			return bonus amount '''
  return (curr_salary * percent)/100
		
def cal_total_salary(bonus):
  ''' calculate total salary.
	   
	   bonus - bonus amount
	   print total salary'''
  print(curr_salary + bonus)
	
# using python composition, pass cal_bonous() return value as argument to cal_total_salary() to calculate total salary. 	
cal_total_salary(cal_bonus(5.5))
# calculate with default 10% bonus 
cal_total_salary(cal_bonus())

10550.0
11000.0

<pre>
3.) Accept three parameters for a function where the first parameter is the final velocity 'v', second parameter<br>is the initial velocity 'u', and the third parameter is the time taken 't'.<br>The user-defined function has to take these three parameters and calculate the acceleration which is given as :

<center>a = (v-u)/t</center>
</pre>

In [ ]:
#Solved by : Rajanna, AI01, G-7

#Code/Answers below :

# This code is to calculate acceleration (a), given final velocity (v), Initial velocity (u) and time take (t)

v = input ("Enter final velocity 'v' in km/h ") # Prompts for initial velocity 'v'
u = input ("Enter initial velocity 'u' in km/h ") # Prompts for initial velocity 'u'
t = input ("Enter time taken 't' in Seconds ") # Prompts for time taken 't'

V = int(v)
U = int(u)
T = float(t)

a = (V-U)/T  # calculates Acceleration

print("Acceleration is ", a , "Seconds") # Displays calculated acceleration value

Enter final velocity 'v' in km/h 100
Enter initial velocity 'u' in km/h 20
Enter time taken 't' in Seconds 10
Acceleration is  8.0 Seconds

In [ ]:
#Alternative suggested by :Taiba Naz
#A function where initial velocity 'u',final velocity 'v', time taken 't'.
def acc(u,v,t):
  acc = (v-u)/t #acceleration formula
  print("Acceleration is ", acc , "m/s2")
  return acc
  
#check the result  
acc(5,25,10)#where u=5m/s,v=25m/s & t=10sec,acceleration will be in m/s2.

Acceleration is  2.0 m/s2

2.0

<pre>
4.) Write a function that accepts two numbers as parameters and tells which one are the even no.s and which one are the odd no.s.
</pre>

In [ ]:
#Solved by : Anuraag [MBA03]

#Code/Answers below :

"""
n1: int or float.
n2: int or float.
"""
# Fuction to identify even number using mod(%) operator

def findeven():
  n1 = int(input("Enter a number1: "))
  n2 = int(input("Enter a number2: "))
  if (n1 % 2) == 0:
    print("{0} is Even number". format(n1))
  else:
    print("{0} is Odd number". format(n1))
  if (n2 % 2) == 0:
    print("{0} is Even number". format(n2))
  else:
    print("{0} is Odd number". format(n2))

In [ ]:
findeven()

Enter a number1: 5
Enter a number2: 8
5 is Odd number
8 is Even number

<pre>
5.) Write a function that accepts two strings as the parameter or argument and returns the<br>string with more length or characters in it.
</pre>

In [ ]:
#Solved by :Taiba naz

#Code/Answers below :
def fun5(str1,str2):
  if len(str1)>len(str2):
    print(str1)
  else:
    print(str2) 
fun5("Naaz","Taiba")

Taiba

In [ ]:
i=1
for i in range(1,5):
  for j in range(1,i):
    print(j,end='')
    j=j+1
  print()  
  i=i+1

1
12
123

In [ ]:
i=1
while i<=9:
  j=1
  while j<=i:
    print(j,end="")
    j=j+1
  print()  
  i=i+1

1
12
123
1234
12345
123456
1234567
12345678
123456789